node_modules/
dist/
*.zip
vendor/
backend-laravel.zip.zip
*.sql
recent_labels.json

# Environment files
.env
backend/.env
frontend/.env
frontend/.env.local

# Dependencies
backend/vendor/
frontend/node_modules/

# Build outputs
frontend/dist/
