node_modules/
dist/
*.zip
*.tar.gz
vendor/
backend-laravel.zip.zip
*.sql
recent_labels.json
backend-dashboard.tar.gz
frontend-dashboard.tar.gz

# Environment files
.env
backend/.env
frontend/.env
frontend/.env.local

# Dependencies
backend/vendor/
frontend/node_modules/

# Build outputs
frontend/dist/
