APP_NAME=Aevolua
APP_ENV=production
APP_DEBUG=false
APP_URL=http://72.61.51.111
FRONTEND_URL=http://72.61.51.111

# Chave de Segurança (será gerado com php artisan key:generate)
APP_KEY=

# Credenciais do Banco de Dados MySQL (Docker)
DB_CONNECTION=mysql
DB_HOST=mysql_db
DB_PORT=3306
DB_DATABASE=aevolu38_appaevolua_db
DB_USERNAME=aevolu38_aevolua_user
DB_PASSWORD="x_K~a)WDsSF%"

# Configurações de Sessão e Sanctum
SESSION_DOMAIN=.aevolua.com.br
SANCTUM_STATEFUL_DOMAINS=central.aevolua.com.br
SESSION_SECURE_COOKIE=true
SESSION_SAME_SITE=lax

# Configurações de Cache e Sessão
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync

# Configurações de Log
LOG_CHANNEL=stack
LOG_LEVEL=debug

# Variáveis Personalizadas
DEPLOY_SECRET_TOKEN=SEU_TOKEN_SECRETO_DE_PRODUCAO
SUBSCRIBER_DEFAULT_PRODUCT_ID=ID_DO_PRODUTO_PADRAO
SUBSCRIBER_DEFAULT_AMOUNT=VALOR_PADRAO
NOTIFY_SEPARATION_DUE_SOON_HOURS=24
NOTIFY_SEPARATION_OVERDUE_HOURS=48

