name: Build Frontend

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      FRONTEND_DIR: frontend

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: yarn
          cache-dependency-path: ${{ env.FRONTEND_DIR }}/yarn.lock

      - name: Install Yarn
        run: npm install -g yarn

      - name: Install deps
        working-directory: ${{ env.FRONTEND_DIR }}
        run: |
          if [ -f ".yarnrc.yml" ]; then
            yarn install --immutable
          else
            yarn install --frozen-lockfile
          fi

      - name: Build
        working-directory: ${{ env.FRONTEND_DIR }}
        env:
          VITE_API_URL: https://apicentral.aevolua.com.br/api
        run: yarn build
